
$color-verde : #39875B;

$color-verde-claro : #D4F7E3;

$color-blanco: white;

$color-violeta: #57375D;

$color-violeta-oscuro : #451952;

$color-negro: black;

$color-rojo: #ED296E;

$color-rojo-oscuro: #C82860;




